.being { text-shadow: -1px -1px 0px white, 1px 1px 0px black; }

.player { font-weight: bold; }

.human { color: lime; }

.samurai { color: white; }

.dog { color: white; }

.golden-retriever { color: gold; }

.rottweiler { color: black; }

.cat { color: black; }

.three-clawed-dragon { color: green; }

.four-clawed-dragon { color: lime; }

.five-clawed-dragon {
    color: white;
    text-shadow:
        0px 0px 1px blue,
        0px 0px 2px blue,
        0px 0px 3px blue,
        0px 0px 4px blue,
        0px 0px 5px blue,
        0px 0px 6px blue,
        0px 0px 7px blue;
}

.mouse { color: white; }

.rat { color: gray; }

.bird { color: royalblue; }

.rabbit { color: white; }

.horse { color: peru; }

.cow { color: white; }

.fish { color: cyan; }

.orca { color: black; }

.great-white-shark { color: white; }

.megalodon { color: silver; }

.battleship { color: gray; }

.fire-being {
    color: yellow;
    text-shadow:
        0px 0px 1px red,
        0px 0px 2px red,
        0px 0px 3px red,
        0px 0px 4px red,
        0px 0px 5px red,
        0px 0px 6px red,
        0px 0px 7px red;
}

.elephant { color: darkgray; }

.car { color: yellow; }

.floating-brain { color: lightsalmon; }

.psychic-brain { color: lime; }

.superior-brain { color: blue; }

.cosmic-brain {
    color: black;
    text-shadow:
        0px 0px 1px purple,
        0px 0px 2px purple,
        0px 0px 3px purple,
        0px 0px 4px purple,
        0px 0px 5px purple,
        0px 0px 6px purple,
        0px 0px 7px purple;
}

.crocodile { color: darkkhaki; }

.cloud-being { color: white; }

.wind-being { color: cyan; }

