.bokutō { color: sandybrown; }

.katana { color: silver; }

.longsword { color: silver; }

.rapier { color: silver; }

.meat { color: red; }

.green-tea { color: lightgreen; }

.ash { color: gray; }

