.bokutō { color: sandybrown; }

.katana { color: silver; }

.longsword { color: silver; }

.rapier { color: silver; }

.meat { color: red; }

.green-tea { color: lightgreen; }

.ash { color: gray; }

.iron { color: darkgray; }

.soybean { color: lime; }

.azuki-bean { color: #ff6080 }

.black-bean {
    color: black;
    text-shadow: -1px -1px 1px white;
}

.bowl-of-cooked-white-rice { color: white; }
