.bokutō { color: sandybrown; }

.katana { color: silver; }

.longsword { color: silver; font-weight: bold; }

.rapier { color: whitesmoke; }

.meat { color: red; }

.green-tea { color: yellowgreen; }

.black-tea { color: firebrick; }

.thai-iced-tea { color: darkorange; }

.pu-erh-tea { color: maroon; }

.white-tea { color: lightgoldenrodyellow; }

.ash { color: gray; }

.iron { color: darkgray; }

.soybean { color: lime; }

.azuki-bean { color: #ff6080 }

.black-bean {
    color: black;
    text-shadow: -1px -1px 1px white;
}

.bowl-of-cooked-white-rice { color: white; }

.apple { color: red }

.lemon { color: yellow }

.lime { color: lime }

.orange { color: gold }

.potato { color: #907A70 }

.book-of-spells { color: black }

.yen { color: silver; }
