.grass { background: #002000; color: #005000; }

.woods { background: #002000; color: #007000; }

.forest { background: #002000; color: #007000; }

.tree { background: #002000; color: #b0d000; }

.water { background: #000040; color: #000080; }

.void { background: black; color: #500050; }

.house { background: #201000; color: #cc6600; }

.shop { background: #201000; color: #cc6600; }

.inventory-slot { background: #404040; color: #808080; }

.upward-staircase { background: black; color: white; }

.downward-staircase { background: black; color: white; }

.wielded {
    text-shadow: 0px 0px 1px black, 0px 0px 2px black, 0px 0px 3px black;
    /* http://www.colorzilla.com/gradient-editor/ */

background: #000000; /* Old browsers */
background: -moz-linear-gradient(-45deg, #000000 0%, #ff0000 38%, #ffff00 50%, #ffc000 51%, #ff0000 66%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#000000), color-stop(38%,#ff0000), color-stop(50%,#ffff00), color-stop(51%,#ffc000), color-stop(66%,#ff0000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #000000 0%,#ff0000 38%,#ffff00 50%,#ffc000 51%,#ff0000 66%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #000000 0%,#ff0000 38%,#ffff00 50%,#ffc000 51%,#ff0000 66%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #000000 0%,#ff0000 38%,#ffff00 50%,#ffc000 51%,#ff0000 66%,#000000 100%); /* IE10+ */
background: linear-gradient(135deg, #000000 0%,#ff0000 38%,#ffff00 50%,#ffc000 51%,#ff0000 66%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
