body {
    background-color: black;
    color: silver;
    text-align: center;
}

h1 {
    font-family: monospace;
}

div#help {
    background-color: #202020;
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
    text-align: left;
    font-family: monospace;
}
div#help b {
    color: lime;
}

#container {
    display: inline-block;
    text-align: center;
}

input#character-name {
    color: silver;
    background-color: #202020;
    outline: 0;
    border: none;
    font-family: monospace;
    font-size: 400%;
    text-align: center;
}

button.continue {
    position: relative;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    margin-top: 30px;
    font-size: 200%;
    font-family: monospace;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: black;
    color: silver;
    display: block;
}
button.continue:hover {
    color: cyan;
    cursor: pointer;
    border: 1px solid white;
    box-shadow: 0px 0px 5px 1px blue;
}

button.action {
    display: block;
    width: 100%;
    font-family: monospace;
    font-size: 120%;
    background-color: black;
    color: gray;
    border: 1px solid gray;
    border-radius: 9px;
    margin-bottom: 2px;
    outline: 0;
}
button.action:hover {
    background-color: #303030;
    color: silver;
    border: 1px solid silver;
}
button.cancel {
    margin-top: 22px;
}

span.key-label {
    color: silver;
}
button.action:hover span.key-label {
    color: white;
    font-weight: bold;
}

.clade-chooser {
    display: inline-block;
    cursor: pointer;
    font-size: 3em;
    margin: 20px;
    opacity: 0.8;
}

.clade-chooser-label {
    font-family: monospace;
    font-size: 50%;
    font-weight: bold;
    text-shadow: 0px 0px 1px white;
}

.clade-chooser:hover {
    opacity: 1.0;
}

.panel {
    vertical-align: top;
    display: inline-block;
    padding: 5px;
}

#messages {
    display: inline-block;
    width: 100%;
    height: 150px;
    background-color: #101010;
    text-align: left;
    margin-top: 5px;
    color: silver;
    font-family: monospace;
}

.inventory-label {
    display: block;
    position: absolute;
    left: 3px;
    top: 0;
    font-size: 60%;
    z-index: 3;
    color: white;
    text-shadow:
        0px 1px 1px black,
        1px 0px 1px black,
        0px -1px 1px black,
        -1px 0px 1px black;
}

#profile {
    text-align: left;
    font-family: monospace;
}

#name {
    color: lime;
}

#region {
    color: yellow;
}

.stat-value {
    color: lime;
}

.row {
    margin-bottom: 0;
    height: 3em;
    vertical-align: top;
    background-color: white;
}

.cell {
    display: inline-block;
    position: relative;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 48px;
    font-size: 32px;
    cursor: pointer;
}

.centralizer-outer {
    display: table;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.centralizer-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.cell:hover {
    opacity: 0.95;
    outline: 1px dashed rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.square-shading {
    display: none;
    position: absolute;
    left: 1px;
    top: 1px;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 1;
    background-color: black;
}

.square-background {
    width: 100%;
    height: 100%;
}

.blood {
    color: red;
}

.hidden {
    opacity: 0
}

.skin {
    display: block;
    z-index: 2;
    position: absolute;
    top: 0pt;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.blood-and-skin-container {
    display: inline-block;
    position: relative;
    margin: 0 auto;
}

.drag-target .biome {
    color: rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.wielded {
    text-shadow: 0px 0px 2px cyan;
    background-color: blue;
}
