body {
    background-color: black;
    color: silver;
    text-align: center;
}

#container {
    display: inline-block;
}

.panel {
    vertical-align: top;
    display: inline-block;
    padding: 3px;
}

#messages {
    display: inline-block;
    width: 100%;
    height: 150px;
    background-color: #101010;
    text-align: left;
    margin-top: 5px;
    color: silver;
    font-family: monospace;
}

#inventory {
    text-align: left;
}

#profile {
    text-align: left;
    font-family: monospace;
}

#name {
    color: lime;
}

.stat-value {
    color: lime;
}

.row {
    margin-bottom: 0;
    height: 3em;
    vertical-align: top;
    background-color: white;
}

.cell-container {
    display: inline-block;
}

.cell {
    display: table;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

.cell:hover {
    opacity: 0.95;
    outline: 1px dashed rgba(255, 255, 255, 0.5);
}

.biome {
    font-size: 2em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.grass {
    background: #002000;
    color: #005000;
}

.woods {
    background: #002000;
    color: #007000;
}

.forest {
    background: #002000;
    color: #007000;
}

.tree {
    background: #002000;
    color: #b0d000;
}

.water {
    background: #000040;
    color: #000080;
}

.void {
    background: black;
    color: #500050;
}

.empty {
    background: #404040;
    color: #808080;
}

.human {
    color: #00ff00;
}

.dog {
    color: #ffffff;
}

.cat {
    color: #222222;
}

.dragon {
    color: #0000ff;
}

.being {
    text-shadow: -1px -1px 0px white, 1px 1px 0px black;
}

.player {
    font-weight: bold;
}

.bokutō {
    color: sandybrown;
}

.katana {
    color: silver;
}

.longsword {
    color: silver;
}

.meat {
    color: red;
}

.blood {
    color: red;
    position: relative;
    display: inline-block;
}

.being_fg {
    display: block;
    z-index: 2;
    position: absolute;
    top: 0pt;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.drag-target .biome {
    color: rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.wielded {
    text-shadow: 0px 0px 2px cyan;
    background-color: blue;
}
